img{
  width: 350px;
  height: 350px;
}

div{

 box-sizing: border-box;
}

div{
 float: left;
 width: 44.44%;
 padding: 10px;
}


div::after {
 content: ;
 clear: both;
 display: table;
}

body{
  background-color: #A0E8D3;
}
